@page "/Clientes"
@using Modelos;

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState">
        <h2>Lista de Clientes</h2>

        <div class="form-group row">
            <div class="col-sm-10">
                <a href="/Clientes/Nuevo" class="btn btn-primary m-1">Nuevo</a>
            </div>
        </div>

        @if (lista == null)
        {
            <p>No existen usuarios en el sistema</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>Identidad</th>
                        <th>RTN</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cliente cliente in lista)
                    {
                        <tr>
                            <td>@cliente.IdentidadCliente</td>
                            <td>@cliente.RTNCliente</td>
                            <td>@cliente.NombreCliente</td>
                            <td>@cliente.Telefono</td>
                            <td>@cliente.Correo</td>
                            <td>@cliente.Direccion</td>

                            <th>
                                <a class="btn btn-outline-primary" href="@($"/Clientes/Editar/{cliente.IdentidadCliente}")">Editar</a>
                            </th>
                        </tr>
                    }
                </tbody>

            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>