@page "/Clientes/Nuevo"

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState">
        <h3>Nuevo Cliente</h3>
        <br />

        <EditForm Model="@cliente">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col">
                    <label for="IdentidadCliente" class="col-sm-2 col-form-label">
                        Identidad
                    </label>
                    <div class="col-sm-10">
                        <InputText id="IdentidadCliente" class="form-control" @bind-Value="cliente.IdentidadCliente" />
                        <ValidationMessage For="@(() => cliente.IdentidadCliente)" />
                    </div>
                </div>
                <div class="col">
                    <label for="RTNCliente" class="col-sm-2 col-form-label">
                        RTN
                    </label>
                    <div class="col-sm-10">
                        <InputText id="RTNCliente" class="form-control" @bind-Value="cliente.RTNCliente" />
                        <ValidationMessage For="@(() => cliente.RTNCliente)" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="NombreCliente" class="col-sm-2 col-form-label">
                        Nombre
                    </label>
                    <div class="col-sm-10">
                        <InputText id="NombreCliente" class="form-control" @bind-Value="cliente.NombreCliente" />
                        <ValidationMessage For="@(() => cliente.NombreCliente)" />
                    </div>
                </div>
                <div class="col">
                    <label for="Telefono" class="col-sm-2 col-form-label">
                        Telefono
                    </label>
                    <div class="col-sm-10">
                        <InputText id="Telefono" class="form-control" @bind-Value="cliente.Telefono" />
                        <ValidationMessage For="@(() => cliente.Telefono)" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="Correo" class="col-sm-2 col-form-label">
                        Correo
                    </label>
                    <div class="col-sm-10">
                        <InputText id="Correo" class="form-control" @bind-Value="cliente.Correo" />
                        <ValidationMessage For="@(() => cliente.Correo)" />
                    </div>
                </div>
                <div class="col">
                    <label for="Direccion" class="col-sm-2 col-form-label">
                        Direccion
                    </label>
                    <div class="col-sm-10">
                        <InputText id="Direccion" class="form-control" @bind-Value="cliente.Direccion" />
                        <ValidationMessage For="@(() => cliente.Direccion)" />
                    </div>
                </div>
            </div>
            <br /><br />
                <div class="form-group row">
                    <p>
                        <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                        <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
                    </p>
                </div>
          
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>
