@page "/ReciboExamenes"

@using Modelos;

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState">
        <h2>Lista de Examenes por recibir</h2>

        @if (lista == null)
        {
            <p>No existen examenes pendientes en el sistema</p>
        }
        else
        {
            <div class="col">
                <label for="IdentidadCliente" class="col-sm-2 col-form-label">
                    Buscar por Identidad de Cliente
                </label>
                <div class="col-sm-10">
                    <InputText id="IdentidadCliente" class="form-control" @bind-Value="IdClien" />

                    <input type="submit" class="btn btn-dark" value="Buscar" @onclick="@BuscarP" />
                    <input type="submit" class="btn btn-dark" value="Mostrar todos los registros" @onclick="@Todos" />
                </div>

            </div>
            <br />

            <br />
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>IdExamen</th>
                        <th>IdentidadCliente</th>
                        <th>NumMuestra</th>
                        <th>TipoExamen</th>
                        <th>FechaTomaMuestra</th>
                        <th>Estado</th>
                        <th>Pagado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Examen examen in lista)
                    {
                        <tr>
                            <td>@examen.IdExamen</td>
                            <td>@examen.IdentidadCliente</td>
                            <td>@examen.NumMuestra</td>
                            <td>@examen.TipoExamen</td>
                            <td>@examen.FechaTomaMuestra</td>
                            <td>@examen.Estado</td>
                            <td>@examen.Pagado</td>
                       
                            <th>
                                <a class="btn btn-outline-primary" href="@($"/ReciboExamenes2/{examen.IdExamen}")">Confirmar Recibido</a>
                            </th>
                        </tr>
                    }
                </tbody>

            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>
