@page "/TomaMuestras"
<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState">
        <h3>Nueva Muestra</h3>
        <br />
        
        <EditForm Model="@examen">
            
            <DataAnnotationsValidator />

        <div class="row">
                <div class="col">
                    <label for="IdentidadCliente" class="col-sm-2 col-form-label">
                        Identidad Cliente
                    </label>
                    <div class="col-sm-10">
                        <InputText id="IdentidadCliente" class="form-control" @bind-Value="examen.IdentidadCliente" />
                        <ValidationMessage For="@(() => examen.IdentidadCliente)" />
                    </div>
                </div>
                <div class="col">
                    <label for="NumMuestra" class="col-sm-2 col-form-label">
                        Numero de Muestra
                    </label>
                    <div class="col-sm-10">
                        <InputText id="NumMuestra" class="form-control" @bind-Value="examen.NumMuestra" />
                        <ValidationMessage For="@(() => examen.NumMuestra)" />
                    </div>
                </div>

                 <div class="col">

                 <label for="TipoExamen" class="col-sm-2 col-form-label">
                            Tipo de Examen
                </label

                        <InputSelect class="form-control" @bind-Value="examen.TipoExamen">
                        @foreach (var TipoExamen in listado)
                        {
                                    <option value="@TipoExamen.TipoExamen">@TipoExamen.TipoExamen</option>
                        }
                        </InputSelect>

                </div>
             
                </div>

                 <br/><br/>
                <div class="form-group row">
                    <p>
                        <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                        <input type="submit" class="btn btn-danger" value="Cancelar" />
                    </p>
                </div>
        </EditForm>
        
    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>