@page "/Usuarios"
@using Modelos;

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState"> 
        <h2>Lista de Usuarios</h2>

        <div class="form-group row">
			<div class="col-sm-10">
				<a href="/Usuarios/Nuevo" class="btn btn-primary m-1">Nuevo</a>
			</div>		
		</div>

        @if (lista == null)
        {
            <p>No existen usuarios en el sistema</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>correo</th>
                        <th>Fecha Creación</th>
                        <th>Rol</th>
                        <th>Foto</th>
                        <th>Esta Activo</th>
                        <th>Celular</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Usuario user in lista)
                    {
                        <tr >
                            <td >@user.IdEmpleado</td>
                            <td >@user.Nombre</td>
                            <td >@user.Correo</td>
                            <td >@user.FechaCreacion</td>
                            <td>@user.Rol</td>
                            @if(user.Foto != null)
                            {
                                <th>
                                    <img src="data:image;base64,@System.Convert.ToBase64String(user.Foto)" width="40" height="40" />
                                </th>
                            }
                            else
                            {
                                <th></th>
                            }
                            @if (user.EstaActivo)
                            {
                                <td >
                                    <span class="oi oi-circle-check" style="color:green;"></span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="oi oi-circle-x" style="color:red;"></span>
                                </td>
                            }
                            <td >@user.Celular</td>
                            <td >@user.Direccion</td>
                            <th>
                                <a class="btn btn-outline-primary" href="@($"/Usuarios/Editar/{user.IdEmpleado}")">Editar</a>
                            </th>
                        </tr>
                    }
                </tbody>

            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>

